$brand-primary:#222222;
$brand-success:#F95532;
$brand-info:#3A66C3;
$brand-bison:#F95532;
$brand-danger:#C33A3A;
$brand-default:#6D83A3;
$brand-performance:#8547D4;
$text-color:#222222;

$brand-chrome: #333333;
$brand-chrome-secondary: #2a2a2a;
$brand-chrome-ui-primary: darken($brand-chrome-secondary, 20%);

$chrome-bg-primary:#2C3039;
$chrome-bg-secondary:#212428;
$brand-chrome-divider: lighten($chrome-bg-primary, 5%);

$chrome-bg-cpanel:#414957;
$chrome-bg-cpanel-secondary:#363C4B;

$chrome-brand-primary:#61C38C;
$chrome-brand-success:#61C38C;
$chrome-brand-bison:#F97559;
$chrome-brand-info:#6180C3;
$chrome-brand-danger:#C36161;
$chrome-brand-default:#A6AFBC;

$chrome-page-header:#F5F5F5;

$icon-font-path: '~vendor/bootstrap/fonts/';
