$main-control-panel-width: 200px;
$border-radius-base: 2px;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

$font-family-sans-serif:  "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;
