<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="google" content="notranslate">
        <meta name="fragment" content="!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="BISON">

        <link rel="shortcut icon" href="<%= require('src/img/favicon/cobalt/favicon.ico') %>" />

        <title>Cobalt</title>
    </head>
    <body>
        <div class="wrapper layout-hbox stretch">
            <div class="table-row">
                <div id="mainbody" class="content">
                    <!-- ko foreach: pages -->
                        <div class="layout-hbox stretch" data-bind="page: $data"></div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <div id="modal-root"></div>
        <div id="popover-root"></div>

        <div id="templates" data-bind="
            page: {
                id: 'templates',
                source: '<%= require('src/libs/templates.html') %>',
                sourceLoaded: resolve_template_dfd
            }
        "></div>
    </body>
</html>
